<h1>Actualizar Dirección</h1>
<hr>

{% if messages %}
    <ul>
        {% for message in messages %}
            <li style="color:red;">{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}

<form method="post">
    {% csrf_token %}
    <p>
        <label for="nombre">Nombre de la Dirección:</label>
        <input type="text" id="nombre" name="nombre_direccion" value="{{ direccion_data.nombre_direccion }}">
    </p>
    <button type="submit">Actualizar</button>
</form>
<br>
<a href="{% url 'main_direccion' %}">Volver a la lista</a>