<h1>Editar Usuario</h1>

<form action="{% url 'usuario_actualiza_post' %}" method="POST">
    {% csrf_token %}
    
    <input type="hidden" name="id_usuario" value="{{ usuario_data.id_usuario }}">
    
    <label>Nombre:</label><br>
    <input type="text" name="nombre" value="{{ usuario_data.nombre }}" required><br><br>
    
    <label>Apellido:</label><br>
    <input type="text" name="apellido" value="{{ usuario_data.apellido }}" required><br><br>
    
    <label>Correo:</label><br>
    <input type="email" name="correo" value="{{ usuario_data.correo }}" required><br><br>
    
    <label>Teléfono:</label><br>
    <input type="text" name="telefono" value="{{ usuario_data.telefono }}" required><br><br>
    
    <label>Perfil:</label><br>
    <select name="perfil" required>
        {% for codigo, nombre in perfiles_listado %}
        <option value="{{ codigo }}" {% if codigo == usuario_data.id_perfil.nombre_perfil %}selected{% endif %}>
            {{ nombre }}
        </option>
        {% endfor %}
    </select><br><br>
    
    <button type="submit">Actualizar</button>
</form>
<br>
<a href="{% url 'main_usuario' %}">Volver</a>